@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #FDEEDC;
}

/*Navbar Burger Menu Mobile */

header {
    background-color: #ffd384;
    height: 100px;
    display: grid;
    align-items: center;
}

.nav-branding img {
    height: 100px;
    padding-top: 4px;
}

.navbar {
    min-height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 3rem;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hamburger {
    display: block;
    order: 2;
}

.nav-branding {
    order: 1;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    border-radius: 20px;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: absolute;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #ffd384;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    left: 0;
    width: 100%;
}

/* Navbar Burger Menu Mobile End */

/* Artikel */

h1 {
    text-align: center;
    font-size: 21.5px;
    font-weight: 550;
    padding: 20px 0; 
}

.david-img {
    width: 80%;
    margin: 0 auto;
}

.david-img img {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

main p {
    width: 80%;
    margin: 0 auto;    
    text-align: justify;
}

.next-hidden{
    display: none;
}
.header-show{
    display: none;
}

/* Artikel End*/

/* Footer */

footer{
    text-align: center;
    background-color: #426a5a;
    color: white;
    margin-top: 40px; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer i{
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*Tablet Size*/

@media (min-width: 426px){
    body{ 
        width: 100%;
    }

    header{
        background-color: #ffd384;
        display: grid;
        align-items: center;
    }

    .navbar{
        gap: 7rem;
    }

    .nav-branding{
        display: flex;
        justify-content: center;
    }

    footer p{
        font-size: 18px;
    }

    footer i{
        font-size: 30px;
    }
}

/*Desktop Size*/

@media (min-width: 821px){
    body{
        width: 100%;
    }

    main{
        min-height: 70vh;
    }

  .empty{
    display: none;
  }

  .navbar{
    display: flex;
  }

  .hamburger{
    display: none;
  }

  .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    order: 1;
  }

  header{
    height: 100px;
  }

  .nav-branding img{
    width: 100px;
  }

  .nav-menu {
    display:flex;
    align-items: center;
    gap: 40px;
    left: 0%;
    flex-direction: row;
    position: static;
    order: 2;
    width: auto;
    font-size: 16px;
  }

  .nav-link:hover {
    background-color:#426a5a;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.nav-link {
    transition: 0.7s ease;
}

.next-hidden{
    display: block;
}

.header-hidden{
    display: none;
}

.header-show{
    display: block;
    padding-top: 0;
}

.next{
    display: none;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 60px;
}

footer{
    margin: 60px 0 0 0;
}

.navbar{
    padding: 0 80px ;
}

.david-img{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 301px;
}

}

@media (min-width:1024px){
    body{
        width: 100%;
    }

    .david-img{
        width: 500px;
        height: 376px;
    }

    .navbar{
        padding: 0 80px ;
    }
}

@media (min-width:1920px) {

    body{
        width: 1920px;
    }
}